
/InvestmentStrategies/InvestmentStrategies/obj
/InvestmentStrategies/InvestmentStrategies/bin
/InvestmentStrategies/TestResults
/InvestmentStrategies/InvestmentStrategiesTests/bin
/InvestmentStrategies/InvestmentStrategiesTests/obj
